@charset 'utf-8';
/* CSS reset */
body,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
table,
td,
img,
div,
span,
dl,
dt,
dd,
button,
input {
  margin: 0;
  padding: 0;
  border: 0;
}
ul,
ol {
  list-style-type: none;
}
i,
em,
b,
strong {
  font-style: normal;
}
img {
  border: none;
}
a {
  text-decoration: none;
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: #000;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
select,
input,
img,
select {
  vertical-align: middle;
}
.clearfix:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}
.clearfix {
  zoom: 1;
}
button {
  padding: 2px 6px;
  border: 1px solid;
  border-radius: 3px;
  cursor: pointer;
}
